<!-- templates/registration/password_change_form.html -->

{% extends 'base.html' %}


{% block content %}

<div class="row">

    <div class="col-lg-2"></div>

    <!-- Signup content  -->
    <div class="col-lg-8 signup">

        <h1>Set a new password!</h1>
        <hr>
        <!-- Signup form -->
        <form method="post" class="signup-form">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
            {% endfor %}


            {% for field in form.visible_fields %}
            <div class="form-group">
                {{field.label_tag}}

                {{field}}

                {% for error in field.errors %}
                {{error}}
                {% endfor %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
        <!-- /form -->
    </div>

    <div class="col-lg-2"></div>

</div>
<!-- /.row -->
{% endblock content %}